.logo img {
    max-width: 80px;
    max-height: 70px;
}
.header {
    background: #8b0230;
}

.header-menu nav li a {
    text-decoration: none;
    margin-left: 25px;
    color: white;
    font-size: 20px;
}

.header-menu a:hover {
    color: yellow;
}
.header-menu a.active {
    color: yellow;
}